@page
@model MoneyPlus.Pages.admin.secretModel
@{
    ViewData["Title"] = "Admin Privilege";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Insert your credentials</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Email" class="form-control" aria-required="true" placeholder="johndoe@mail.com"/>
                    <label asp-for="@Model.Email" class="form-label"></label>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Password" class="form-control" aria-required="true" placeholder="y0urPa33w0rd" />
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="submit" value="Confirm" class="btn btn-primary" />
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}