@page
@model MoneyPlus.Pages.CashInflows.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cash Inflow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CashInflow.Id" />
            <div class="form-group" : hidden>
                <label asp-for="@Model.InitialDestinationWalletId" class="control-label"></label>
                <input asp-for="@Model.InitialDestinationWalletId" class="form-control" />
                <span asp-validation-for="@Model.InitialDestinationWalletId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashInflow.DestinationWalletId" class="control-label">Destination Wallet</label>
                <select asp-for="CashInflow.DestinationWalletId" asp-items="ViewBag.DestinationWalletId"></select>
                <span asp-validation-for="CashInflow.DestinationWalletId" class="text-danger"></span>
            </div>
            <p></p>
            <input type="hidden" asp-for="CashInflow.Id" />
            <div class="form-group" : optional>
                <label asp-for="CashInflow.Description" class="control-label"></label>
                <input asp-for="CashInflow.Description" class="form-control" placeholder="optional" />
                <span asp-validation-for="CashInflow.Description" class="text-danger"></span>
            </div>
            <p></p>
            @*<div class="form-group">
            <label asp-for="CashInflow.Type" class="control-label"></label>
            <input asp-for="CashInflow.Type" class="form-control" />
            <span asp-validation-for="CashInflow.Type" class="text-danger"></span>
            </div>*@
            <div class="form-group" : hidden>
                <label asp-for="@Model.InitialAmount" class="control-label"></label>
                <input asp-for="@Model.InitialAmount" class="form-control" />
                <span asp-validation-for="@Model.InitialAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashInflow.Amount" class="control-label"></label>
                <input asp-for="CashInflow.Amount" class="form-control" />
                <span asp-validation-for="CashInflow.Amount" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="CashInflow.Date" class="control-label"></label>
                <input asp-for="CashInflow.Date" class="form-control" />
                <span asp-validation-for="CashInflow.Date" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="CashInflow.SubcategoryId" class="control-label">Subcategory</label>
                <select asp-for="CashInflow.SubcategoryId" asp-items="ViewBag.SubcategoryId" required></select>
            </div>
            <p></p>
            <div class="form-group" : optional>
                <label asp-for="CashInflow.AssetId" class="control-label">Asset</label>
                <select asp-for="CashInflow.AssetId" asp-items="ViewBag.AssetId">
                    <option value="" selected>None</option>
                </select>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}